html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px;
}

.dark {
  color: #DADADA;
  background: #1c2022;
  min-height: 100%;
}

.dark a {
  color: rgb(203, 203, 203);
}

.btn-clear {
  border: none;
  background: transparent;
}

nav ul li {
  padding-right: 15px;
}

nav ul li .link {
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  color: #484848;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.link {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: rgb(187, 46, 31);
}

.story-item {
  margin-bottom: 15px;
}

.meta-info-light {
  color: #606060;
}

.meta-info-light a {
  color: #000;
}

.meta-info-dark {
  color: gray;
}

.meta-info-dark a {
  color: #bebebe;
}

.user-title {
  margin-bottom: 0px;
}

.user-meta-info {
  margin-top: 0px;
  margin-bottom: 15px;
}

.user-h2 {
  margin-bottom: 5px;
}

.story-h1 {
 font-size: 1.5em;
 margin-bottom: 0px;
}

.comment {
  margin-left: 10px;
  background: rgba(128, 128, 128, 0.1411764705882353);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.comment-container {
  margin-left: 10px;
  margin-top: 0px;
}